*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
body { 
    background-color: rgb(9, 3, 3) ;
}
.text  {
  padding: 17%;
}
.text h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: aliceblue;
}
.text h3{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: aliceblue;
}
#button{
    color: aliceblue;
    font-size: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
   background-color: transparent;
}

.experiencias{
    padding: 3%;
    height: 50%;
    margin-top: 10%;
    padding-bottom: 11%;
}
.experiencias ul {
    display: flex;
    justify-content: space-between;  
    padding: 4px;
    padding-top: 15%;

}
.experiencias h2  {
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
}
.experiencias ul li{
    display: flex;
    justify-content: center;
}
.experiencias ul li{
    background-image: url("imagens/image.html.png"),("imagens/imagem.css.png");    
}

.experiencias ul li {
    background-image: url("imagens/imgem.js.png"),("imagens/imagem.react.png");   
}
.experiencias ul li {
    background-image: url("imagens/imagem.figma.png"),;      
}
.projetos {
    background: linear-gradient(-45deg, #000000, #890aea, #3c3fff, #050207);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.projetos h3{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 6%;
    
}
.projetos h2  {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:white;
    padding-bottom: 7%;
    padding-top: 10%;
}
.projetos ul{
    display: flex;
    justify-content:space-around;
   
}
.projetos ul li{
    background-image: url("imagens/imagem\,netflix.png"),url("imagens/imagem.rick.png")
    url("imagens/imagem.ecomerse.png"),url("imagens/imagem.figma.png");
}

.netflix{
    padding: 15px;
    border:solid;
    border-color: #23a6d5;
}
.rick{
    padding: 15%;
    border:solid;
    border-color: #23a6d5;
}
.ecomerce{
    padding: 15px;
    border:solid;
    border-color: #23a6d5;
}
.figma2{
    padding: 15%;
    border:solid;
    border-color: #23a6d5;
}
footer{
    padding: 3%;
}

footer h2{
    display: flex;
    justify-content:center ;
    color: aliceblue;
    padding-bottom: 5%;
}
.ctt{
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}
.insta{
    padding: 12%;
    border: solid;
    border-color: #23a6d5;
    cursor: pointer;
    transition-property: initial;
    transition-delay: 2s;
}
.whats{
    padding: 11%;
    border: solid;
    border-color: #23d5ab;
}
.git{
    padding: 10%;
    border: solid;
    border-color: #3c3fff;
}
.fb{
    padding: 11%;
    border: solid;
    border-color: #890aea;
}
